<?xml version="1.0" encoding="UTF-8"?>

<!-- Questo file xml è quello necessario per avere una 
configurazione xml-schema based -->

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="vehicle" class="com.z9devs.SpringFrameworkTutorial.Car"></bean>	
	
	<bean id="tyre" class="com.z9devs.SpringFrameworkTutorial.Tyre">
		<!-- Posso valorizzare le proprietà con valori di default già da qui -->
		<property name="brand" value="Mercedes"></property>
		<!-- 
		 <constructor-arg value="Mercedes"></constructor-arg>
		 si può fare la stessa cosa con un costruttore
		 -->
	</bean>
</beans>